  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

  body, .button {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 150%;
    /* font-weight: bold; */
  }

  .button {
    font-family: 'Prompt', sans-serif;
    text-align: center;
  }

  #rcorners {
      border-radius: 15px;
      background:#FFBF00;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }
  #borders {
     border-radius: 25px;
     border: 2px solid #00ff1a;
     padding: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }
  table, th, td {
      border: 1px solid #2E64FE;
      border-collapse: collapse;
  }
  .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .flava {
    background-color: #E5FA9F;
  }
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  /*kolorigi finaĵojn*/
  .o {
      color: red;
    }
  .a {
      color: green;
    }
  .j {
      color: blue;
    }
  .as {
     color: dodgerblue;
  }

  .is {
     color: salmon;
  }  
  .os {
     color: orangered;
  }
   
/* https://codepen.io/gabrielcojea/pen/ExPaBzQ */
a{
  text-decoration: none;
  color: #0074D9;
}

  .underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

/*https://codepen.io/chriscoyier/pen/zYKaVvo*/
.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
}

/*https://codepen.io/jeffscottward/pen/wlavA*/
#carousel-wrapper,
#carousel figure {
  height: 100px;
  line-height: 100px;
  color: white;
}

#carousel figure:nth-of-type(1) {-webkit-transform: rotateX(0deg)   translateZ(86px);}
#carousel figure:nth-of-type(2) {-webkit-transform: rotateX(60deg)  translateZ(86px);}
#carousel figure:nth-of-type(3) {-webkit-transform: rotateX(120deg) translateZ(86px);}
#carousel figure:nth-of-type(4) {-webkit-transform: rotateX(180deg) translateZ(86px);}
#carousel figure:nth-of-type(5) {-webkit-transform: rotateX(240deg) translateZ(86px);}
#carousel figure:nth-of-type(6) {-webkit-transform: rotateX(300deg) translateZ(86px);}

#carousel[data-state="1"] figure:nth-of-type(1),
#carousel[data-state="2"] figure:nth-of-type(2),
#carousel[data-state="3"] figure:nth-of-type(3),
#carousel[data-state="4"] figure:nth-of-type(4),
#carousel[data-state="5"] figure:nth-of-type(5),
#carousel[data-state="6"] figure:nth-of-type(6) { opacity: 1; }

#carousel-wrapper {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  perspective: 1100px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform-style: preserve-3d;
  transition: all 1s;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
  color: black;
  text-align: center;
  opacity: .2;
  transition: all 1s;
  backface-visibility: hidden;
}